<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Newprotagonist/Gaming_Next/"><i class="fab fa-github"></i></a>
    <a href="https://github.com/dagmarakorta"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/vK-y0"><i class="fab fa-facebook"></i></a>
    <a href="https://github.com/timperoulakis"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/Newprotagonist"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
