// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6c7a89;
$dark-gray: #4d5257;
$light-gray: #f2f4f6;
$dark-blue:#142747;
$middle-blue: #2b3c59;
$azur: #18BEA0;
$dark-azur: #207969;

