.navbar-display {
  justify-content: space-between;
  background: $dark-blue;
  margin-bottom: 15px;
  color: white;
}

.navbar-display .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  text-align: right;
}

.navbar-light .navbar-nav .nav-link {
  color: $light-gray;
  &:hover{
    color: $light-gray;
  }
}

.navbar-brand {
  color: $light-gray;
  margin: 15px;
}

.logo1 {
  font-family: 'Space Mono', monospace;
  color: $light-gray;
  font-weight: bold;
  line-height: 18px;
}

.hello {
  margin-left: 45px;
}

.drop-arrow {
  color: $light-gray;
}

.dropdown-menu {
  background-color: $middle-blue;
  border: none;
  border-radius: 5px;

  & a {
    color: $light-gray;
  }

  & a:hover {
    background-color: $dark-blue;
    color: $light-gray;
  }
}

.unknown-user {
  color: $light-gray;
  margin-left: 10px;
  font-size: 25px;
}
